/* color palette from <https://github.com/vuejs/theme> */
:root {
    --priBgColor: #FFF;
    --secBgColor: #E2ECF2;
    --bodyColor: #000;
    --bodyColorValue: 0, 0, 0;

    @media (prefers-color-scheme: dark) {
        --priBgColor: #141417;
        --secBgColor: #1F1F24;
        --bodyColor: #FFF;
        --bodyColorValue: 255, 255, 255;
    }
}

